/*  begin all pages layout */
body, html {
	height: 100%;
	width: 100%;
	position: absolute;
	font-family: Ubuntu Helvetica Arial sans-serif;
}

h1, h2, h3, h4 {
	text-align: center;
  color: #555;
}
header .navbar, footer .navbar {
  margin-top: 0.5%;
  padding: 0.5% 1.5%;
}

main {
	min-height: 60%;
}
/********** BUTTON & LINK STYLES ***********/
.btn-link, .btn-link:hover, button.btn-danger .btn-link:hover {
  color: #DE7B59;
}
.navbar {
  background-color: grey;
}
.navbar a, .navbar-brand {
  color: white;
}

.navbar a:focus, .navbar-brand:focus {
  color: grey;
  background-color: white;
  font-weight: bold;
}
.navbar a:hover, navbar-brand:hover{
  color: grey;
  background-color: white;
}


/********** LANDING PAGE **********/

body.landing {
  background-image: url('app/assets/6475901681_488cd406f3_b.jpg');
  background-size: cover;
}

#landing {
	font-size: 2em;
	text-align: center;
	margin: 8% auto 0 auto;
}

#landing h1, #signup h1, #login h1 {
  border: none;
}
#landing h1, .landing-heading {
  color: #ffffff;
}

#signup, #login {
  margin-top: 20%;
  padding: 10%;
}

#landing button {
  text-transform: uppercase;
}

.landing-heading {
  text-transform: lowercase;
	margin-bottom: 1%;
}

/*********** DATA-PROFILE **********/

h1 {
  border-bottom: 2px solid #d6e9c6;
  margin: 0 25%;
  padding-bottom: 1%;
}

.data-profile h2, .data-profile h3, .data-profile h2, .data-profile h3, .data-profile h4 {
  text-transform: capitalize;
}
.user-greeting {
  color: #337ab7
}

#fallbackMessage {
  width: 70%;
  text-align: justify;
  margin: 0 auto;
  font-size: 1.5em;
  margin-top: 5%;
  line-height: 200%;
}
#fallbackMessage h2 {
  margin-bottom: 5%;
  color: #337ab7;
  font-style: italic;
}

#fallbackMessage p {
  width: 60%;
  margin: 1% auto;
}

/************ Presentations ***********/
.presentations-inner-wrapper {
  margin-top: 5%;
  width: 95%;
}

.presentation-table {
  padding-left: 0%;
}

.presentations h1 {
  margin-bottom: 1%;
}
#new-presentation{
	width: 100%;
	margin: 0 auto;
}
.new-presentation-url {
  text-align: center;
}

.form-group input, .form-group label {
  display: block;
}

.form-group input {
  width: 90%;
  padding: 1%;
}

/********** D3 STYLES **********/
rect:hover {
  opacity:.75
}
.axis {
  font:12px sans-serif
}
.x.axis path {
  display:none
}
#dateChart, #skillChart, #distChart {
  text-align: center;
}
.table {
	text-align: left;
}

path {
  fill-opacity:0.8;
  stroke-opacity:0;
}
.legend {
  display:inline-block;
  margin:10px;
  margin-top:30px;
  margin-left:25px;
  max-height:280px;
  overflow:auto;
}
.legend table {
  border-collapse:collapse;
  border-spacing:0;
}
.legend tr, .legend td, .legend div {
  margin:0;
  padding:0;
  text-align:left;
}
.legend div {
  width:20px;
  height:20px;
  float: left;
}
.legend span {
  padding: 0 5px;
  margin:0
}
.legend tr:hover {
  background:silver;
}
#conference {
 -webkit-filter: blur(5px);
}
#spkr{
  font-size: 5em;
}
/********** FEEDBACK FORM ***********/

.form-meta, .previous-presentation {
  margin: 2.5% auto;
  width: 80%;
}

.form-meta h2, .previous-presentation h2 {
  font-size: 2.0em;
  font-style: italic;
  color: rgb(61, 159, 188);
}

.form-meta .data, .previous-presentation .data {
  text-align: center;
  font-size: 1.5em;
}

#presentation-feedback{
  width: 80%;
  padding-left: 25%;
  margin: 0 auto 5% auto;
}

#presentation-feedback label {
  font-size: 1.5em;
}

#presentation-feedback .alert-success {
  margin: 2% 0;
}

#feedbackButton {
  margin-top: 5%;
  width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.range {
    display: table;
    position: relative;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}
.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}
.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}
.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary output {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success output {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}
.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info output {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}
.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning output {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}
.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger output {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}
label {
  margin-top: 25px;
}


/*SIGNUP FORM*/
.landing-container {
  width: 406px;
  max-width: 406px;
  margin: 0 auto;
}
.forms{
  padding: 0px 25px 25px;
  background: #fff;
  box-shadow: 
    0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
    0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
  position: static;
}
.forms .header {
  margin-bottom: 20px;
}
.forms .header h3 {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.forms .header p {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 300;
}
.forms .sep {
  height: 1px;
  background: #e8e8e8;
  width: 406px;
  margin: 0px -25px;
}
.forms .inputs {
  margin-top: 25px;
}
.forms .inputs label {
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 7px;
  display: block;
}
input::-webkit-input-placeholder {
  color:    #b5b5b5;
}
input:-moz-placeholder {
  color:    #b5b5b5;
}
.forms .inputs input[type=email], input[type=password] {
  background: #f5f5f5;
  font-size: 0.8rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  padding: 13px 10px;
  width: 330px;
  margin-bottom: 20px;
  box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
  clear: both;
}
.forms .inputs input[type=email]:focus, input[type=password]:focus {
  background: #fff;
  box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
  outline: none;   
}
.forms .inputs .checkboxy {
  display: block;
  position: static;
  height: 25px;
  margin-top: 10px;
  clear: both;
}
.forms .inputs input[type=checkbox] {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}
.forms .inputs label.terms {
  float: left;
  font-size: 14px;
  font-style: italic;
}
.forms .inputs #submit, .forms .inputs #login {
  width: 100%;
  margin-top: 20px;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
      background: -moz-linear-gradient(
      top,
      #b9c5dd 0%,
      #a4b0cb);
  background: -webkit-gradient(
      linear, left top, left bottom, 
      from(#b9c5dd),
      to(#a4b0cb));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #737b8d;
  -moz-box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  -webkit-box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  text-shadow:
      0px 1px 3px rgba(000,000,000,0.3),
      0px 0px 0px rgba(255,255,255,0);
  display: table;
  position: static;
  clear: both;
}
.forms .inputs #submit:hover,  .forms .inputs #login:hover{
  background: -moz-linear-gradient(
      top,
      #a4b0cb 0%,
      #b9c5dd);
  background: -webkit-gradient(
      linear, left top, left bottom, 
      from(#a4b0cb),
      to(#b9c5dd));
}
