<div class="container">
  <h1>Signup</h1>
  <form id="signup" name="signupForm" ng-submit="signup()">
  <div ng-if="user.error" class="alert alert-danger" role="alert"> {{ user.error }} </div>
    <div class="form-group">
      <label for="username">Username: </label>
      <input id="username" type="text" ng-model="user.username">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name = "password" ng-model="user.password" ng-minlength="8">
      
      <span class="error" ng-show="signupForm.password.$error.minlength">Minimum of 6 characters</span>
  </div>
  <div>
    <button class="btn btn-primary">Signup</button>
  </div>
    <div>
            <a href="#/login" class="btn btn-link">Sign In</a>
  </div>
  </form>
</div>