<div class="container">
  <h1>Sign In</h1>
  <form id="signup" name="signinForm" ng-submit="login()">
  <div ng-if="user.error" class="alert alert-danger" role="alert"> {{ user.error }} </div>
    <div class="form-group">
      <label for="username">Username: </label>
      <input id="username" type="text" ng-model="user.username">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name = "password" ng-model="user.password">
    </div>
  
  <div>
    <button class="btn btn-primary">Sign In</button>
  </div>
  
  <div>
      <a href="#/signup" class="btn btn-link">Sign Up</a>
  </div>
  </form>
</div>